useDynLib(SWinRegistry)

import(methods)

export(getRegistry)
export(getRegistryKeyValues, setRegistryValue)
export(resolveKey)
export(registryKeyExists, createRegistryKey, deleteRegistryKey, flushRegistryKey)
export(getRegistrySubKeyNames)

export(expandEnvironmentStrings)

export(createRegistryPath)

exportClasses(RegistryKeyPath, RegistryKeyContents, RegistryValuePath)

exportMethods(coerce, append, resolveKey, setRegistryValue)


export(.WinRegistryError)
